<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> <!-- 請設定 utf8 另外這檔案儲存時也要是 UTF-8 檔首無BOM-->
<title>ECPAY 金流串接測試</title>
</head>

<body>
  <%= REQUIREDAVG_INFO.MerchantTradeDate %>
<form action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="POST">
  <input type="text" name="MerchantID" value='<%= REQUIREDAVG_INFO.MerchantID %>'>
  <input type="text" name="MerchantTradeNo" value='<%= REQUIREDAVG_INFO.MerchantTradeNo %>'>
  <input type="text" name="MerchantTradeDate" value='<%= REQUIREDAVG_INFO.MerchantTradeDate %>'>
  <input type="text" name="PaymentType" value='<%= REQUIREDAVG_INFO.PaymentType %>'>
  <input type="text" name="TotalAmount" value='<%= REQUIREDAVG_INFO.TotalAmount %>'>
  <input type="text" name="TradeDesc" value='<%= REQUIREDAVG_INFO.TradeDesc %>'>
  <input type="text" name="ItemName" value='<%= REQUIREDAVG_INFO.ItemName %>'>
  <input type="text" name="ReturnURL" value='<%= REQUIREDAVG_INFO.ReturnURL %>'>
  <input type="text" name="ChoosePayment" value='<%= REQUIREDAVG_INFO.ChoosePayment %>'>
  <input type="text" name="CheckMacValue" value='<%= REQUIREDAVG_INFO.CheckMacValue %>'>
  <input type="text" name="EncryptType" value='<%= REQUIREDAVG_INFO.EncryptType %>'>
  <input type="text" name="PeriodAmount" value='<%= REQUIREDAVG_INFO.PeriodAmount %>'>
  <input type="text" name="PeriodType" value='<%= REQUIREDAVG_INFO.PeriodType %>'>
  <input type="text" name="Frequency" value='<%= REQUIREDAVG_INFO.Frequency %>'>
  <input type="text" name="ExecTimes" value='<%= REQUIREDAVG_INFO.ExecTimes %>'>
  <input type="text" name="PeriodReturnURL" value='<%= REQUIREDAVG_INFO.PeriodReturnURL %>'>

  <button type="submit">付款</button>
</form>
</body>

</html>
